@import "tailwindcss";
/* Font style */
.prompt-medium {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}
  .contact
  {
    background-image: url('../public/contact-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  